.container-productos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.card-producto {
    background-color: olivedrab;
    border: 2 solid black;
    border-radius: 28px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

.buttonDetail {
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: auto;

}

.buttonDetail:hover {
    color: black;
    background-color: whitesmoke;
}
