* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.formularioContainer{
padding-bottom: 2rem;
}

form {
    background-color: olivedrab;
    color: aliceblue;
    width: 500px;
    margin: 0 auto;
    padding: 20px;

}

label {
    display: block;
    width: 100%,
    
}

input {
    margin-left: 30px;
    border: 2px solid rgb(18, 19, 18);
    border-radius: 10px;
    min-width: 80%;
}
.buttonCheckoutContainer{
display: flex;
justify-content: right;
}

.buttonCheckoutContainer button {
    display: block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin-top: 2rem;;
}


.buttonCheckoutContainer button:hover {
    background-color: white;
    color: black;
}

.checkOutText{
    margin: 1rem 0;
text-align: center;
}


.tuOrden{
border: 3px double black;
text-align: center;
margin: 2rem auto ;
width: 70%;
padding: 1rem;
font-weight: bold;
font-size: large;
}