.navBar{
background-color:  #637401 ;
}
.logoCrudo {
    width: 200px;
    height: auto;
}

.cona a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 500;
}

.cona a:hover {
    color: grey;
}

.navLinks {
    display: flex;
    align-items: center;

}

.navLinks li {
    margin: 0 8px;
}